{% extends "web/template/regular.html" %}

{% block btns %}
    <div class="input-group-append">
        <button type="button" class="btn btn-block btn-default btn-sm" id="viewBtn"
                data-toggle="modal" data-target="#viewModal"><i class="fas fa-eye"></i>
            查看JSON
        </button>
    </div>
    <div class="input-group-append">
        <button type="button" class="btn btn-block btn-default btn-sm" id="saveBtn"><i class="fas fa-save"></i>
            保存本页
        </button>
    </div>
{% endblock %}

{% block viewBefore %}
    <h3 id="cmdTitle"></h3>
{% endblock %}

{% block optCss %}
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/json-viewer/jquery.json-viewer.css') }}">
    <style>
        .order_area {
            padding: 1.25rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #F7F7F7;
            margin-bottom: 1rem;
        }
    </style>

{% endblock %}
{% block optAfter %}
    <div class="order_area" name="orders">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">中控指令：</label>
            <div class="col-sm-9">
                <select class="form-control">
                    <!--<option>option 123456789abcdefghijkmnropqrist</option>-->
                </select>
            </div>
        </div>
        <div name="wrap"></div>
    </div>
    <div class="order_area" name="sender">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">外设指令：</label>
            <div class="col-sm-9">
                <select class="form-control">
                    <!--<option>option 123456789abcdefghijkmnropqrist</option>-->
                </select>
            </div>
        </div>
        <div name="wrap"></div>
    </div>

{% endblock %}

{% block optDataForm %}
    {% from "templates/input.html" import hides,text,textarea ,file_img,file_video %}
    {{ text(label="名称：",placeholder="示例：开01-08灯", name="name" ) }}
    {{ text(label="延迟：",placeholder="示例：1", name="delay" ) }}
    {{ text(label="指令：",placeholder="在下方配置框中选取规则并填写", name="value", disabled=true) }}
    {#    {{ file_img(label="图片：",placeholder="请选择图片", name="path") }}#}
{% endblock %}

{% block optJs %}
    <script src="{{ url_for('static',filename='plugins/json-viewer/jquery.json-viewer.js') }}"></script>
    <script>
        var viewer = $("#viewModalBtn"), totalViewer = $("#viewBtn"), options = {collapsed: false, withQuotes: false};
        var viewOpt = $("#viewOpt"), saveBtn = $("#saveBtn"), cmdTitle = $("#cmdTitle")
        cmdTitle.html($.getQueryParam("key") + ":")

        saveBtn.on("click", function (e) {
            var value = formatRule(grid().controller.clients), path = $.getQueryParam("path"),
                id = $.getQueryParam("id")
            var url = $.parseUrl()[0] + path + "update", params = {"id": id, "value": JSON.stringify(value)}
            console.log(">>>parse Url>>>", url, params)
            $.request({url: url, data: params, type: "post", tip: true}, function (res) {
                console.log(res)
            })
        })

        function formatRule(data) {
            //let data = grid().controller.clients
            var delays = [], orders = [], res = {};
            for (var i in data) {
                let item = data[i], delay = parseFloat(item.delay), value = parseData(item.value).value
                delay = delay ? delay : 0
                delays.push(delay)
                orders.push(value)
            }
            console.log("??>>", orders)
            //delays.every((x) => {return x > 0})
            let len = delays.length
            if (len > 1 || (len == 1 && delays.every((x) => {
                return x > 0
            }))) {
                res = [delays, orders]
            } else if (len == 1) {
                res = orders[0]
            }
            return res
        }

        totalViewer.on("click", function (e) {
            var res = formatRule(grid().controller.clients)
            $('#viewModal .view-body').jsonViewer(res, options);
        })
        viewOpt.on("click", function () {
            $("#viewOptClose").trigger("click")
        })
        var parseData = function (dataStr) {
            var vals = dataStr.split("_")
            if (vals.length > 3) {
                var v = vals.slice(2), vStr = v.join("_")
                vals = vals.slice(0, 2)
                vals.push(vStr)
            }
            var select = vals[0], index = vals[1], val = JSON.parse(vals[2])
            return {select: select, index: index, value: val}
        }
        var grid = combine([
            {name: "name", type: "text", width: 100, align: "center", title: "名称"},
            {name: "delay", type: "text", width: 100, align: "center", title: "延迟"},
            {
                name: "value", type: "text", width: 100, align: "center", title: "指令",
                itemTemplate: function (value, item) {
                    return value ? $('<a href="javascript:0;"><i class="fas fa-eye"></i>查看</a>').on("click", function (e) {
                        console.log(value, item)
                        let {select: nm, index = 0, value: val} = parseData(item.value)
                        $('#viewModal .view-body').jsonViewer(val, options);
                        viewer.trigger("click")
                    }) : "无"
                }
            }
        ], {
            add: {
                set: function (f) {
                    $("#addModal .order_area select").each(function (i) {
                        $sel = $(this)
                        $sel.get(0).selectedIndex = 0
                        $sel.trigger("change")
                    })
                },
                pre: function (p, f) {
                    preSubmit(p, $("#addModal .order_area div[name='wrap'] input[type!='checkbox']"))
                }
            },
            update: {
                set: function (item) {
                    //var vals = item.value.split("_")
                    //var name = vals[0], index = vals[1], val = JSON.parse(vals[2])
                    let {select: name, index = 0, value} = parseData(item.value)
                    console.log(name, index, value)
                    var area = $("#updateModal div[name='" + name + "']"), $sel = area.find("select")
                    if ($sel.length > 0) {
                        $sel.get(0).selectedIndex = index
                        $sel.trigger("change", function (data) {
                            area.find("div[name='wrap'] input").each(function (i) {
                                var input = $(this), name = input.attr("name")
                                let val = value[name]
                                if ($.isPlainObject(val)) {
                                    val = JSON.stringify(val)
                                }
                                input.val(val)
                            })
                        })
                    }
                },
                pre: function (p, f) {
                    preSubmit(p, $("#updateModal .order_area div[name='wrap'] input[type!='checkbox']"))
                }
            }
        })

        function ctrlEdited(tar, parent) {
            let $e = $(tar), check = $e.prop("checked")
            console.log(check, parent[0])
            $("input[name='" + $e.attr("name") + "'][type!='checkbox']", parent[0]).attr("disabled", !check)
        }

        var u_orders = $("#updateModal div[name='orders']"), u_sender = $("#updateModal div[name='sender']")
        var u_o_select = u_orders.find("select"), u_s_select = u_sender.find("select")
        u_orders.on("click", "input[type='checkbox']", function (e) {
            ctrlEdited(this, u_orders)
        })
        u_sender.on("click", "input[type='checkbox']", function (e) {
            ctrlEdited(this, u_sender)
        })

        var orders = $("#addModal div[name='orders']"), sender = $("#addModal div[name='sender']")
        var rulesList = orders.find("select"), senderList = sender.find("select"), rootPath = $.parseUrl()[0]
        orders.on("click", "input[type='checkbox']", function (e) {
            ctrlEdited(this, orders)
        })
        sender.on("click", "input[type='checkbox']", function (e) {
            ctrlEdited(this, sender)
        })

        function preSubmit(p, inputs) {
            var res = {}, area = null
            inputs.each(function (i) {
                var $el = $(this), key = $el.attr("name"), val = $el.val()
                //val = val.startsWith("0") ? val : str2json(val)
                if (val !== "") {
                    val = $.str2json(val)
                    res[key] = val
                }
                area = $el.parents(".order_area")
            })
            console.log(">>>update or add>>>data>>", res)
            res = JSON.stringify(res)
            var name = "", index = 0;
            if (area) {
                name = area.attr("name")
                index = area.find("select").get(0).selectedIndex
            }
            p.set("value", name + "_" + index + "_" + res)
        }

        function packOptions($select, data) {
            $select.html("")
            $select.append($.parseHTML("<option  value=0>无</option>"))
            for (var i  in data) {
                var item = data[i], val = item.id, name = item.name, r = item.route
                $select.append($.parseHTML("<option route='" + r + "' value='" + val + "'>" + name + "</option>"))
            }
            $select.trigger("change")
        }

        function setOptions($select, url) {
            $.request({url: url}, function (res) {
                console.log(">>", res)
                var data = res.data
                if (data.length == 0) {
                    alert("先配置中控指令规则")
                    return false
                }
                if ($.isArray($select)) {
                    for (var i in $select) {
                        packOptions($select[i], data)
                    }
                } else {
                    packOptions($select, data)
                }
            })
        }

        function setFormList($el, url, cb) {
            console.log("setFormList>>>", url, $el.parents(".modal.fade").attr("id"))
            //var checkBox = '<div class="icheck-primary d-inline">' +
            //  '<input type="checkbox" id="checkbox_' + id + '" value=' + id + '>' +
            //  '<label for="checkbox_' + id + '">' + "修改" + '&nbsp;&nbsp;&nbsp;&nbsp;</label>' +
            //  '</div>'
            var pid = $el.parents(".modal.fade").attr("id")
            $.request({url: url}, function (res) {
                var data = res.data, res = "", hasVal = [], noVal = [];
                for (var i in data) {
                    let val = data[i], key = val.key, v = val.value, id = pid + "_" + key
                    var checkBox = '<div class="icheck-primary d-inline col-sm-3">' +
                        '<input type="checkbox" id="' + id + '" name="' + key + '" value=' + v + '>' +
                        '<label for="' + id + '">' + "修改" + '&nbsp;&nbsp;&nbsp;&nbsp;</label>' +
                        '</div>'

                    var input = '<div class="col-sm-9">' +
                        '<input type="text" class="form-control" placeholder="' + val.name + '" value="' + v + '" name="' + key + '">' +
                        '</div>'
                    if (v) {
                        input = '<div class="col-sm-6">' +
                            '<input type="text" class="form-control" ' + (v ? " disabled " : "") + 'placeholder="' + val.name + '" value="' + v + '" name="' + key + '">' +
                            '</div>' +
                            '<div class="col-sm-3" style="padding-top:10px;font-size:12px;">' +
                            checkBox +
                            '</div>'
                    }
                    var str = '<div class="form-group row">' +
                        '<label class="col-sm-3 col-form-label">' + (key == "delay" ? (key + "：") : (key + "*：")) + '</label>' +
                        input +
                        '</div>'
                    val.value ? hasVal.push(str) : noVal.push(str)
                    //res += str
                }
                res = noVal.concat(hasVal).join("")
                $el.html(res)
                cb && cb(data)
            })
        }

        function onChange(e, cb) {
            var $el = $(this), opt = $el.val(), sel = $el.find("option:selected"), r = sel.attr("route")
            var $wrap = $el.parents(".form-group.row").siblings("[name ='wrap']")
            var parent = e.data.parent, nm = e.data.nm, otherSelects = e.data.switch
            $wrap.html("")
            if (!r) {
                return false
            }
            for (var i in otherSelects) {
                var sel = otherSelects[i]
                sel.get(0).selectedIndex = 0
                sel.trigger("change")
            }

            var url = `${rootPath}${r}/detail/list?${parent}=${opt}&child=${nm}`
            //setFormList($wrap, rootPath + r + "/detail/list?orders=" + opt + "&child=rules")
            setFormList($wrap, url, cb)
        }


        rulesList.on("change", {parent: "orders", nm: "rules", switch: [senderList]}, onChange)
        senderList.on("change", {parent: "sender", nm: "formats", switch: [rulesList]}, onChange)
        u_o_select.on("change", {parent: "orders", nm: "rules", switch: [u_s_select]}, onChange)
        u_s_select.on("change", {parent: "sender", nm: "formats", switch: [u_o_select]}, onChange)

        //获取可显示中控指令列表
        setOptions([rulesList, u_o_select], rootPath + "/order/list?exhibit=1")
        //获取可显示外设指令列表
        setOptions([senderList, u_s_select], rootPath + "/sender/list")


    </script>
{% endblock %}
