{% extends "web/template/regular.html" %}


{% block optCss %}
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/json-viewer/jquery.json-viewer.css') }}">
    <style></style>
{% endblock %}

{% block btns %}
    <div class="input-group-append">
        <button type="button" class="btn btn-block btn-default btn-sm" id="viewBtn"
                data-toggle="modal" data-target="#viewModal"><i class="fas fa-eye"></i>
            查看JSON
        </button>
    </div>
{% endblock %}

{% block viewBefore %}
    <h3 id="cmdTitle"></h3>
{% endblock %}

{% block optDataForm %}
    {% from "templates/input.html" import input,hides,text,textarea ,file_img,file_video,file_audio,file_app %}
    {{ text(label="名称：",placeholder="示例：一键开馆", name="name" ) }}
    {{ text(label="指令键：",placeholder="示例：tag", name="key" ) }}
    {{ text(label="指令值：",placeholder="示例：{'code':'00'}", name="value", disabled=true) }}
    {#    {{ file_audio(label="音频：",placeholder="请选择音频", name="path",accept="audio/wav" ) }}#}
    {#    {{ file_app(label="pdf：",placeholder="请选择pdf", name="ruler" ) }}#}
{% endblock %}
{% block optJs %}
    <script src="{{ url_for('static',filename='plugins/json-viewer/jquery.json-viewer.js') }}"></script>
    <script>
        var viewer = $("#viewModalBtn"), totalViewer = $("#viewBtn"), options = {collapsed: false, withQuotes: false};
        var viewOpt = $("#viewOpt"), cmdTitle = $("#cmdTitle")
        var itemPath = $.parseUrl()[1],
            titleTotal = itemPath.indexOf("third") > -1 ? "commands:" : itemPath.indexOf("iot") > -1 ? "human:" : "request:"

        function formatCmd(data) {
            //let data = grid().controller.clients
            var res = {}
            for (let i in data) {
                let cmd = data[i], key = cmd.key
                res[key] = JSON.parse(cmd.value)
            }
            return res
        }

        totalViewer.on("click", function (e) {
            cmdTitle.html(titleTotal)
            var res = formatCmd(grid().controller.clients)
            $('#viewModal .view-body').jsonViewer(res, options);
        })
        viewOpt.on("click", function () {
            $("#viewOptClose").trigger("click")
        })

        var grid = combine([
            {name: "id", visible: true, "title": "ID", align: "center"},
            {name: "name", type: "text", width: 100, align: "center", title: "名称"},
            {name: "key", type: "text", width: 100, align: "center", title: "指令键"},
            {
                name: "value", type: "text", width: 200, align: "center", title: "指令值",
                itemTemplate: function (value, item) {
                    return value ? $('<a href="javascript:0;"><i class="fas fa-eye"></i>查看</a>').on("click", function (e) {
                        cmdTitle.html(item.key + ":")
                        var val = JSON.parse(item.value)
                        $('#viewModal .view-body').jsonViewer(val, options);
                        viewer.trigger("click")
                    }) : "无"
                }
            }
        ], {
            text: {
                detail: {
                    "items": "配置"
                }
            }
        }, url_params = {"detail": {"path": $.parseUrl()[1], "item": "key"}})
    </script>
{% endblock %}