{% extends "templates/layout.html" %}
{% block css %}
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ionicons.min.css') }}">
    <!-- jsGrid -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/jsgrid/jsgrid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/jsgrid/jsgrid-theme.min.css') }}">

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <style>
        .pt-2, .py-2 {
            padding-top: .2rem !important;
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #ced4da;
        }

        .pt-2.px-3 .input-group {
            display: flex;
            flex-direction: row;
            max-width: 200px;
            min-width: 60px;
        }

        #exhibitor {
            height: 2rem;
            padding: 0 .75rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: none;
        }
    </style>
    {% block optCss %}{% endblock %}
{% endblock %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        <div id="infoEl" style="display:none;" info="{{ get_flashed_messages(category_filter=type)[0] }}"
             path="{{ path }}" foreign="{{ foreign if foreign else [] }}" table_name="{{ tableName }}"
             related_name="{{ relatedName }}" related="{{ related }}" template="{{ template }}"
             is_detail="{{ isDetail }}" children="{{ children }}"></div>
        <div class="col-12 col-sm-12">
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="pt-2 px-3">
                            <div class="input-group" style="max-width:300px;">
                                <select class="form-control" id="exhibitor">
                                    <!--<option>option 123456789abcdefghijkmnropqrist</option>-->
                                </select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-block btn-default btn-sm" id="addBtn"
                                            data-toggle="modal" data-target="#addModal"><i class="fas fa-plus"></i>
                                        内容
                                    </button>
                                </div>
                            </div>
                            <!--
                             <div class="input-group-append">
                               <button type="button" class="btn btn-block btn-default btn-sm" id="addBtn"
                                       data-toggle="modal" data-target="#addModal"><i class="fas fa-plus"></i>
                                   内容
                               </button>
                           </div>
                             -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill"
                               href="#custom-tabs-four-home" role="tab" aria-controls="screen"
                               aria-selected="true">列表</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade show active" id="screen" role="tabpanel"
                             aria-labelledby="custom-tabs-four-home-tab">
                            <div id="contentList"></div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
    <!-- /.content -->
    {% from "templates/operateModal.html" import addModal,updateModal,delModal %}
    {% from "templates/input.html" import hides,text,textarea ,file_img,file_video %}
    {% macro formModal(prefix="_") %}
        {% block optBefore %}{% endblock %}
        <form role="form" action="#" enctype="multipart/form-data" method="post">
            {{ hides(args=foreign,others=["id"]) }}
            <div class="card-body">
                {% block optBtn %}{% endblock %}
                {{ text(label="序号：",placeholder="示例：1", name="number" ) }}
                {% block optDataForm %}{% endblock %}
            </div>
        </form>
        {% block optAfter %}{% endblock %}
    {% endmacro %}

    {% call addModal() %}
        {{ formModal("add_") }}
    {% endcall %}
    {% call updateModal() %}
        {{ formModal("update_") }}
    {% endcall %}
    {% call delModal() %}
        <p>确定删除该信息？</p>
        <form role="form" action="#" enctype="multipart/form-data" method="post" style="display:none">
            {{ hides(args=foreign,others=["id"]) }}
        </form>
    {% endcall %}

{% endblock %}
{% block js %}
    <!-- bs-custom-file-input -->
    <script src="{{ url_for('static',filename='plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>

    <!-- jsGrid -->
    <script src="{{ url_for('static',filename='plugins/jsgrid/jsgrid.min.js') }}"></script>
    <script src="{{ url_for('static',filename='plugins/jsgrid/jsgrid-zh-cn.js') }}"></script>

    <script src="{{ url_for('static',filename='app/common.js') }}"></script>
    <script src="{{ url_for('static',filename='app/assemble.js') }}"></script>
    {% block optJs %}{% endblock %}
{% endblock %}