{% extends "web/temp/order.html" %}
{% block optDataForm %}
    {% from "templates/input.html" import hides,text,textarea ,file_img,file_video,file_audio,file_app %}
    {{ text(label="名称：",placeholder="示例：欢迎", name="name") }}
    {#    {{ file_audio(label="音频：",placeholder="请选择音频", name="path",accept="audio/wav" ) }}#}
    {{ file_app(label="pdf：",placeholder="请选择pdf", name="path" ) }}
{% endblock %}
{% block optJs %}
    <script>
        combine([
            {
                name: "id", visible: true, "title": "标识", align: "center", itemTemplate: function (value, item) {
                    return value + ".wav"
                }
            },
            {name: "name", type: "text", width: 50, align: "center", title: "名称"},
            {
                name: "path", type: "text", width: 100, align: "center", title: "音频",
                itemTemplate: function (value, item) {
                    return value ? '<a href="' + $.url_for("other/" + value) + '" name="preApp">查看</a>' : "无"
                    {#return value ? '<audio src="' + $.url_for("audio/" + value) + '" controls="controls" style="width:100%;height:50px;"></audio>' : "无"#}
                    //return value ? '<video src="' + $.url_for("video/" + value) + '" controls="controls" style="width:100%;height:80px;"></video>' : "无"
                }
            }
        ], {
            text: {
                detail: {
                    "page_1": "dsdssds",
                    "page_2": "内页123"
                }
            }
        })
    </script>
{% endblock %}